@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nav-menu {
  background-image: -moz-linear-gradient(to right, #8a3b49, pink 75%);
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

h1.titulo {
  font-size: 30px;
  text-align: center;
  color: darkred;
  margin-top: 50px;
}

.titulo-quienes-somos {
  color: gray;
}

#nuestros-productos {
  color: darkslategrey;
}

ul.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul.menu li.links-menu {
  list-style: none;
  margin-left: 10px;
  color: black;
}

ul.menu li.links-menu a {
  text-decoration: none;
}

div.caja-quienes-somos {
  border: 1px solid black;
  height: 300px;
  width: 49%;
  padding: 10%;
}

.caja-imagen-qs {
  width: 45%;
  height: 350px;
  background-image: url(../img/Pazamor.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  -webkit-animation-name: animation;
          animation-name: animation;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  position: relative;
  -webkit-animation-direction: normal;
          animation-direction: normal;
}

@-webkit-keyframes animation {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 300px;
    top: 0px;
  }
}

@keyframes animation {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 300px;
    top: 0px;
  }
}

.div-texto-imagen {
  height: 300px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.imagen-quienes-somos {
  height: 100%;
}

section {
  margin-top: 80px;
}

h2 {
  text-align: center;
  color: darksalmon;
}

.caja-nuestros-productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.imagen-velas {
  width: 100%;
  overflow: hidden;
}

.imagen-velas img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.imagen-indumentaria {
  width: 100%;
  overflow: hidden;
}

.imagen-indumentaria img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.imagen-accesorios {
  width: 100%;
  overflow: hidden;
}

.imagen-accesorios img:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.imagen-velas {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 2px solid black;
}

.imagen-accesorios {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 2px solid black;
}

.imagen-indumentaria {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border: 2px solid black;
}

h3 {
  font-size: 25px;
  font-family: cursive;
  font-weight: bolder;
}

.menu {
  font-size: 20px;
  font-weight: bold;
}

body {
  background-image: url(../);
  background-repeat: round;
}

form.formulario {
  width: 60%;
  padding: 50px;
  border-radius: 20px;
  margin: auto;
  background-color: #e9e5e5;
}

form.formulario label {
  width: 100%;
  font-weight: bold;
  display: inline-block;
}

form.formulario input[type="text"],
form.formulario input[type="email"] {
  width: 100%;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}

form.formulario input[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000;
}

form.formulario input[type="reset"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000;
}

form.formulario p textarea {
  width: 100%;
}

footer.footer {
  height: 400px;
  background-color: #696969;
}

footer .logo-footer {
  color: #ffecec;
  text-align: center;
  margin: auto;
  font-size: 25px;
}
/*# sourceMappingURL=style.css.map */